.ItemCount {
    display: flex;
    align-items: center;
    margin: 1rem;
    flex-direction: column;

    .itemQuantity {
        max-width: 5rem;
        margin: 0 0.5rem;

        input {
            height: 1rem;
            text-align: center;
        }
    }

    button {
        margin-top: 0.5rem;
    }
}